.video {
    padding-top: 100px;
    padding-bottom: 20px;
    background: #F4F5F5;
}

.video-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    color: #2B2B6F;
}

.video-text {
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 150%;
    color: #254A99;
    opacity: 0.8;
}

.video-button {
    background: #5DC2EF;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 0;
}

.video-button-text {
    font-family: Asap;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2B2B6F;
}

.kumuluz-container {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .kumuluz-container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .kumuluz-container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .kumuluz-container {
      width: 1170px;
    }
  }