.blog-title {
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    color: #2B2B6F;
    margin-bottom:5%;
}

.post-title {
    font-family: Asap;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #254A99;
    margin-bottom:40px;
}

.post-text {
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    margin-top:20px;
    margin-bottom:25px;
}

hr {
    background: linear-gradient(270deg, #FFFFFF 2.13%, #5DC2EF 98.62%);
    padding: 2.5px;
    margin: 0;
}

.show-more {
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #EC6B6B;
    line-height: 18px;
}

.padded {
    padding-top:40px;
    padding-bottom:40px;
}