.padded {
    padding-top:40px;
    padding-bottom:40px;
}

.blog-column {
    padding-right: 80px;
    position: relative;
    z-index: 10;
}

.blog-column .show-more a {
    position: relative;
    z-index: 100;
    pointer-events: auto;
    cursor: pointer;
}

.blog-column-text {
    padding-top: 20px;
}

.blog-background {
    background: white;
    position: relative;
    z-index: 10;
}
