.error-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
}

.error-content {
    padding-top: 4rem;
    margin-bottom: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
}

.error-button {
    text-align: center;
    padding-bottom:20px;
}