html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  outline: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  outline: 0;
  height: 100%;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* /* .container-kumuluz {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.container-kumuluz .left {
  padding-top:90px;
  display:"inline-block";
  position:"sticky";
  height: 200px;
  width: 20%;
  bottom:60%;
  padding-left:2%;
}

.container-kumuluz .right {
  display:"inline-block";
  width:75%;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .container-kumuluz {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-kumuluz {
    width: 970px;
  }
   .container-kumuluz .right {
    display: "inline-block";
    width:75%;
    margin-top: "90px";
  }
}
@media (min-width: 1200px) {
  .container-kumuluz {
    width: 1170px;
  }
} */