html {
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-wrap: break-word;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* .container-kumuluz {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container-kumuluz {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-kumuluz {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-kumuluz {
    width: 1170px;
  }
} */
