.studies_title {
    margin: 60px 0 35px 0;
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 130%;
    color: #2B2B6F;
}

.studies_text {
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #3C3C3B;
    margin-bottom: 40px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 0 35px 0;
}

.ul_blue {
    font-family: Asap;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #2B2B6F;
}

.ul-black {
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #3C3C3B;
}

li:before {
    content: "▪";
    padding-right: 8px;
    color: #5DC2EF;
}

.feaature_title {
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 130%;
    color: #5DC2EF;
    margin-bottom:10px;
}

.feaature_text {
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
}

.margin_top {
    margin-top: 40px;
}