hr {
    background: linear-gradient(270deg, #FFFFFF 2.13%, #5DC2EF 98.62%);
    padding: 2.5px;
    margin: 0;
}
h1 {
    margin:0;
}

.inblock {
    display: inline-block;
    margin: 0;
}

.main-functionalities-title {
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #2B2B6F;
}

.weight400 {
    font-weight: 400;
}

.weight700 {
    font-weight: 700;
}
.main-functionalities-subtitle {
    font-family: Asap;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #254A99;
}

.main-functionalities-text {
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #3C3C3B;
}


.image-div {
    text-align: center;
}

.center {
    text-align: center;
}
