.middle-aligned {
    margin-top: auto;
    margin-bottom: auto;
}

.carousel-title {
    font-size: 18px;
    color: #367DBF;
}

.carousel-feature-title {
    font-size: 42px;
    font-weight: normal;
}

.featture {
    padding: 40px 15px 0 5px;
    background: #F4F5F5;
}

.feature-text {
    font-size:20px;
    color: #000000;
}

.slider-button-rotated {
    border:none;
    position: absolute;
    right:0;
    top:0px;
    pointer-events: auto;
    z-index: 5;
}

.slider-button {
    border:none;
    position: absolute;
    right:50px;
    top:0px;
    pointer-events: auto;
    z-index: 5;
}

.carousel {
    height: 800px;
    user-select: auto;
    touch-action: auto;
    -webkit-user-select: auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.carousel .carousel__slider {
    touch-action: pan-y;
    user-select: none;
    pointer-events: auto;
}

.carousel .carousel__slider-tray {
    touch-action: pan-y;
    pointer-events: auto;
}

@media (min-width: 992px) {
    .carousel {
        height: 475px;
    }
  }

.cases-background {
    background: white;
}
