.study-title {
    font-family: Asap;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #367DBF;
}

.padded {
    padding:30px;
}
.study-subtitle {
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    color: #2B2B6F;
}
/* or 42px */

.study-text {
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.show-more {
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #EC6B6B;
}

hr {
    background: linear-gradient(270deg, #FFFFFF 2.13%, #5DC2EF 98.62%);
    padding: 2.5px;
    margin: 0;
}