.tech-title {
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 130%;
    color: #2B2B6F;
    margin-bottom:15px;
  }
  
  .tech-text {
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #3C3C3B;
  }
  
  .select-text {
    margin-bottom: 10px;
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: right;
    color: #3C3C3B;
    border: 1px solid transparent;
  }

  .select-text:hover {
      cursor:pointer;
      color:#254A99;
    border: 1px solid #254A99;
      .radio-button {
      background-color: #254A99;
      } 
  }

.radio-button {
    vertical-align: middle;
    margin-left:20px;
    height: 16px;
    width: 16px;
    background-color: #dbdbdb;
    border: 3.5px solid #dbdbdb;
    border-radius: 50%;
    display: inline-block;
    // position: relative;  
}

.div-margin {
    margin-bottom: 90px;
}

.selector-line:after {
    border: 2px dashed #DBDBDB;
    transform: rotate(90deg);
    position: absolute;
    top: 5%;
    left: 64%;
    width: 50%;
    content: "";
    display: block;
    z-index: -1;
}