.tech-title {
  font-weight: normal;
}

.select-text {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: right;
  border: 1px solid transparent;
}

.select-text:hover {
  cursor: pointer;
  color: #254A99;
  border: 1px solid #254A99;

  .radio-button {
    background-color: #254A99;
  }
}

.radio-button {
  vertical-align: middle;
  margin-left: 20px;
  height: 16px;
  width: 16px;
  background-color: #dbdbdb;
  border: 3.5px solid #dbdbdb;
  border-radius: 50%;
  display: inline-block;
}

.tech-selector-line:after {
  border: 1px dashed #DBDBDB;
  transform: rotate(90deg);
  position: absolute;
  bottom: 62%;
  left: 46.7%;
  width: 100%;
  content: "";
  display: block;
  z-index: -1;
}

@media (min-width: 992px) {
  .tech-selector-line:after {
    bottom: -28%;
    left: 46.9%;
    width: 100%;
  }
}

.content {
  margin-top: 35px;
  margin-bottom: 90px;
}

.image-holder {
  height: 100%;
}

.image-td {
  max-width:100%;
  height: auto;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


.back-button {
  background: #2B2B6F;
  border: 2px solid #2B2B6F;
  padding: 12px 30px 12px 30px;
  transition: cubic-bezier(1, 0.35, 1, 1) 0.1s;
  width: 170px;
  margin: 30px 25px 50px;
}

.back-button a {
  text-decoration: none;
}

.back-button:hover {
  border: 2px solid #5DC2EF;
}

.back-button-text {
  font-family: 'Asap', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  align-items: center;
  text-align: center;
  color: white;
}
