.features {
    background: radial-gradient(52.47% 202.29% at 69.07% 71.82%, #254A99 0%, #2B2B6F 82.13%);
    color: white;
    padding: 0px 18% 0px 18%;
    text-align: center;
}

.features div {
    padding: 39px 10px 34px 10px;
}

.iimage {
    max-width: 153.13px;
    max-height: 94.6px;
}

.feature-white {
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    margin-top: 8px;
}
