.header-title {
    padding-top: 10rem;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
}

.header-text {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 200;
    color: white;
    line-height: 31px;
}

.contact-button {
    margin-top: 35px;
    margin-right: 35px;
    border: 2px solid #5DC2EF;
    background: #5DC2EF;
    box-sizing: border-box;
    padding: 5px 35px 5px 35px;

    width: 167.85px;
    height: 46.17px;
}

.contact-button-text {
    font-family: 'Asap', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    align-items: center;
    text-align: center;
    color: #2B2B6F;
}

.vide-button {
    margin-top: 35px;
    background: transparent;
    border: 2px solid #5DC2EF;
    box-sizing: border-box;
    padding: 5px 20px 5px 20px;

    width: 167.85px;
    height: 46.17px;
}

.vide-button-text {
    font-family: 'Asap', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    align-items: center;
    text-align: center;
    color: #5DC2EF;
}

.image {
    display: none;
}

@media (min-width: 992px) {
    .image {
        display: block;
        height: 500px;
        margin-bottom:0;
    }
  }

.image-container {
    height: 100%;
    margin-top: -86px;
    margin-left: -59px;
}

.image-col {
    margin-bottom: -262px;
}
