.header-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
}

.header-text {
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 150%;
    opacity: 0.8;
}

.contact-button {
    border: 2px #5DC2EF solid;
    background: #5DC2EF;
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
}

.contact-button-text {
    font-family: Asap;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2B2B6F;
}

.video-button {
    margin-left: 10px;
    border: 2px solid #5DC2EF;
    box-sizing: border-box;
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
}

.video-button-text {
    font-family: Asap;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    background-color:transparent;
    display: flex;
    align-items: center;
    text-align: center;
    color: #5DC2EF;
}

.image {
    width: 300px;
    height: 400px;
}