.header-title {
    padding: 6rem 0 50px 0;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
}

.header-content {
    padding-top: 4rem;
    margin-bottom: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
}

.header-text {
    font-family: Asap;
    font-size: 21px;
    color:rgb(207, 205, 205);
}

.contact-button {
    border: 2px solid #5DC2EF;
    background: #5DC2EF;
    box-sizing: border-box;
    padding: 5px 35px 5px 35px;
}

.contact-button-text {
    font-family: Asap;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2B2B6F;
}

.vide-button {
    margin-left: 25px;
    border: 2px solid #5DC2EF;
    box-sizing: border-box;
    padding: 5px 20px 5px 20px;
}

.vide-button-text {
    font-family: Asap;
    font-weight: 600;
    font-size: 16px;
    background: transparent;
    text-align: center;
    color: #5DC2EF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.image {
    height: 65%;
    margin-bottom:0;
}
