.diagram {
    background: #F4F5F5;
    text-align: center;

    padding-left: 14%;
    padding-right: 14%;
}

.image-diagram {
    padding-top: 25px;
    padding-bottom: 50px;
}

.description-text {
    padding-top: 65px;
    font-size: 22px;
    color: #254A99;
    font-weight: 600;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.specs-text {
    font-family: Asap;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    color: white;
}

.business-text {
    font-family: Asap;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    color: #2B2B6F;
}

.specs-button {
    background: #2B2B6F;
    border: 2px solid #2B2B6F;
    padding: 12px 30px 12px 30px;
    transition: cubic-bezier(1, 0.35, 1, 1) 0.1s;
    width: 250px;
    margin: 30px 25px 50px;
}

.specs-button a {
    text-decoration: none;
}

.specs-button:hover {
    border: 2px solid #5DC2EF;
}
