.diagram {
    background: #F4F5F5;
    text-align: center;
}

.specs-text {
    font-family: Asap;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2B2B6F;
}

.specs-button {
    background: #5DC2EF;
    border: 2px solid #5DC2EF;
    padding: 15px 30px 15px 30px;
    margin-bottom: 50px;
    transition: cubic-bezier(1, 0.35, 1, 1) 0.1s;
}

.specs-button a {
    text-decoration: none;
}

.specs-button:hover {
    border: 2px solid #2B2B6F;
}