.nbar {
    padding-bottom: 0;
}

.nbar ul {
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    right: 0;
}

.nbar li {
    padding-right: 20px;
    margin-bottom: 0;
}

.nbar a, .dropdown {
    text-decoration: none;
    margin-right:20px;
    line-height: 43px;
    bottom: 0;
    color: #FFFFFF;
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
}

.nbar a p, .dropdown p {
  bottom: 0;
  font-size: 16px;
  margin: 0;
}

.dropdown p {
  cursor: pointer;
  padding-right:20px;
}


button {
  margin:0;
  padding:0;
  background: transparent;
}

.dropdown-content {
  cursor: pointer;
  display: none;
  min-width: 50px;
  left:60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  z-index: 1;
  position: absolute;
  bottom:0px;
}

@media (min-width: 992px) {
  .dropdown-content {
    right: 0px;
    left:auto;
    bottom:auto;
  }
}

.dropdown-content p {
  padding: 3px 15px 3px 15px;
}


.dropdown-content p:hover {
  font-weight: 600;
}

.dropdown:hover .dropdown-content {
  display:block;
}
