.nbar {
    padding-bottom: 0;
}

.nbar ul {
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    right: 0;
}

.nbar li {
    padding-right: 20px;
    margin-bottom: 0;
}

.nbar a {
    text-decoration: none;
    margin-right:15px;
    line-height: 43px;
    bottom: 0;
    color: #FFFFFF;
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
}

.nbar a p {
    bottom: 0;
    font-size: 16px;
    margin: 0;
}

button {
    margin:0;
    padding:0;
    background: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
